<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Aikyam</display-name>
  <welcome-file-list>
    <welcome-file>FrontPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.aikyam.registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.aikyam.registration.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.aikyam.registration.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jobpost</display-name>
    <servlet-name>jobpost</servlet-name>
    <servlet-class>com.aikyam.avsar.jobpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobpost</servlet-name>
    <url-pattern>/jobpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addjob</display-name>
    <servlet-name>addjob</servlet-name>
    <servlet-class>com.aikyam.avsar.addjob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addjob</servlet-name>
    <url-pattern>/addjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jobdao</display-name>
    <servlet-name>jobdao</servlet-name>
    <servlet-class>com.aikyam.avsar.jobdao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobdao</servlet-name>
    <url-pattern>/jobdao</url-pattern>
  </servlet-mapping>
</web-app>